:root {
  --size-xs: 1rem;
  --size-s: 2rem;
  --size-m: 4rem;
  --size-l: 8rem;

  --color-light: beige;
  --color-dark: #424456;
}

body {
  /*font-family: "Fira Sans", sans-serif;*/
  padding: 0;
  max-width: 100%;
  background-color: beige;
}

header {
  background-color: var(--color-dark);
  margin: 0;
  color: var(--color-light);
}

header p strong {
  color: var(--color-light);
}

header a {
  color: var(--color-light);
}

header a:hover {
  color: var(--color-light);
}

main,
header > div {
  padding: 2rem 0.5rem 0rem;
  max-width: 50rem;
  margin: auto;
}

footer {
  margin: var(--size-s);
}

a,
a:hover {
  color: var(--color-dark);
  text-decoration: underline;
  transition: all 0.3s;
}

a:hover {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
}

button,
button:not([disabled]):hover {
  color: var(--color-dark);
  border-color: var(--color-dark);
  transition: all 0.3s;
}

button:not([disabled]):hover {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
}

textarea,
input,
button,
select {
  border-color: var(--color-dark);
}

textarea {
  display: block;
  width: 100%;
  height: var(--size-m);
  margin-bottom: var(--size-s);
  resize: none;
}

textarea:focus,
input:not([type="checkbox"]):not([type="radio"]):hover,
select:hover {
  border: 0.1rem solid var(--color-dark);
}

textarea:focus,
input:not([type="checkbox"]):not([type="radio"]):focus {
  border-color: var(--color-dark);
  box-shadow: 0 0 5px var(--color-dark);
}

label,
legend {
  font-weight: bold;
  display: block;
}

label {
  margin-bottom: var(--size-s);
}

input[type="text"] {
  display: inline-block;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}
